<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_dev_money_tracking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Money tracking"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_dev_money_tracking">
        <activity
            android:name=".All_records"
            android:exported="false" />
        <activity
            android:name=".PremiumContent"
            android:exported="true"
            android:label="Try premium" />
        <activity
            android:name=".Convert_currency_activity"
            android:exported="false"
            android:label="Currency converter" />
        <activity
            android:name=".CategoriesActivity"
            android:exported="true"
            android:label="Categories" />
        <activity
            android:name=".NewRecord"
            android:exported="true"
            android:label="Add new record" />
        <activity
            android:name=".Home_activity"
            android:exported="true"
            android:label="Home" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>